{% from "macros/fields.tmpl" import render_input_field, render_submit %}
{% extends "shared/layout.tmpl" %}

{% block title %}Deti form{% endblock %}

{% block content %}
  <h3>Deti</h3>

{% endblock %}
